{% extends "base.html.twig" %} {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/contact.css') }}" />
{% endblock %} {% block body %}
<main>
  <div class="container-main">
    <h2 class="title-page">Contact</h2>

    <form action="/votre-page-de-traitement" method="post">
      <div class="column">
        <div class="box">
          <label for="nom">Nom</label>
          <input
            type="text"
            id="nom"
            name="nom"
            placeholder="ex: Dupont"
            required
          />
        </div>
        <div class="box">
          <label for="prenom">Prénom</label>
          <input type="text" id="prenom" name="prenom" placeholder="ex: Jean" />
        </div>
        <div class="box">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="ex: dupont@gmail.com"
            required
          />
        </div>
        <div class="box">
          <label for="telephone">Tél</label>
          <input
            type="tel"
            id="telephone"
            name="telephone"
            placeholder="ex: +33612345678"
            required
          />
        </div>
        <div class="box">
          <label for="texte">Texte</label>
          <textarea
            id="texte"
            name="texte"
            rows="4"
            cols="50"
            placeholder="votre demande"
            required
          ></textarea>
        </div>
      </div>
      <input type="submit" class="btn btn-primary" value="Envoyer" />
    </form>
  </div>
</main>
{% endblock %}
